* text=auto

.gitattributes text eol=lf
*.sh text eol=lf
uv.lock text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.toml text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.wav binary
*.opus binary
*.apk binary
*.aab binary
